<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      INTERNET
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  fullscreen="true" class="">    

    <ion-card>
      <img *ngIf="img_net" [src]="img_net_tmn">
    </ion-card>
    <ion-card padding>
      <b>Fiber Optic อินเตอร์เน็ต ความเร็วสูง</b><br>
      บริการอินเตอร์เน็ตความเร็วสูง ด้วยการเชื่อมต่อผ่านสายสัญญาณไฟเบอร์ ออฟติก ที่รองรับเทคโนโลยีแห่งอนาคต ตอบสนองได้ทุกความต้องการ 
      <br>วันนี้เราพร้อมแล้ว สำหรับการให้บริการที่ครอบคลุมทั่วทุกพื้นที่ของพัทยา และพื้นที่ใกล้เคียง ติดตั้งรวดเร็ว ด้วยทีมช่างที่ชำนาญ เชิญสัมผัสกับบริการในระดับพรีเมี่ยมได้แล้ววันนี้.
      <br>*ราคายังไม่รวมภาษีมูลค่าเพิ่ม (Vat 7%)*
    </ion-card>

    <ion-card>
      <a href="https://page.line.me/tmn.pattaya?openQrModal=true" target="_parent"><img *ngIf="img_net" [src]="img_s01"></a>
    </ion-card>
  
    <ion-card>
      <a href="https://page.line.me/tmn.pattaya?openQrModal=true" target="_parent"><img *ngIf="img_net" [src]="img_s02"></a>
    </ion-card>
  
    <ion-card>
      <a href="https://page.line.me/tmn.pattaya?openQrModal=true" target="_parent"><img *ngIf="img_net" [src]="img_s03"></a>
    </ion-card>

    <ion-card>
      <a href="https://page.line.me/tmn.pattaya?openQrModal=true" target="_parent"><img *ngIf="img_net" [src]="img_s04"></a>
    </ion-card>

</ion-content>
