/* page-bill {

  //font-family: Kanit-Bold !important;
  //font-size:1.2em;
   
  }  */
  ion-content{ 
    font-family: Kanit !important;
    font-size:1.1em;
  } 
/*   .bg {
    background: url(https://chawtaichonburi.com/appdata/img/sky.jpg) no-repeat 100% 10%;
  }
 */
