<ion-header>
  <ion-navbar color="secondary">
    <ion-title>คู่มือการใช้งาน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-card>
    <img *ngIf="app1" [src]="app1" class="thumb-img" imageViewer>
 </ion-card>
 <ion-card>
  <img *ngIf="app2" [src]="app2" class="thumb-img" imageViewer>
</ion-card>
<ion-card>
  <img *ngIf="app3" [src]="app3" class="thumb-img" imageViewer>
</ion-card>
<ion-card>
  <img *ngIf="app4" [src]="app4" class="thumb-img" imageViewer>
</ion-card>
</ion-content>
