
.button {
    border-radius: 5px;
}

.boxmember {
  
    width:100%;
    height:280px;
    padding-left: 5px;
    padding-right: 5px;
    /* ส่วนของ การแสดงเส้น  */
    border-color:rgb(250, 250, 250);
    border-style:solid;
    /* จบส่วนของ การแสดงเส้น  */
    /* ส่วนของ gradient */
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(254, 255, 254) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
    //background: linear-gradient(to bottom,  rgb(254, 255, 255) 0%,rgba(210,235,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
    /* จบ ส่วนของ gradient */
    /* ส่วนการแสดง ผล radius*/
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    //margin-top :5px;
   /*สบ ส่วนการแสดง ผล radius*/
    /*ส่วนของ shadow */
    -webkit-box-shadow: 0px 0px 5px 5px rgba(200, 197, 200, 1);
    box-shadow: 0px 0px 3px 1px rgba(200, 197, 200, 1); 
     /* จบ ส่วนของ shadow */
}
//.ion-2x { font-size: 13px !important;}

/* .ion-2x 
{  
  font-family: Kanit-Bold !important;
  font-size:13px;
} */
/* .toolbar-background {
    background-color: #a6c3f5;

  } */

/*   .box1{
    background: #faf6f6;
    border: #CCC solid 1px;
    background-repeat:repeat-x;
    width:49%; height:70px;
    border-radius:5px;
    -moz-border-radius:5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    
    } */
    .box2{
    display:block;
    text-indent:5px;
    float:left;
    background: #F4F4F4;
    border: #CCC solid 1px;
    background-repeat:repeat-x;
    width:49%; height:70px;
    border-radius:5px;
    -moz-border-radius:0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;

    }

    ion-content{ 
      font-family: Kanit !important;
      font-size:1.1em;
    } 
    hr.style8 {
      border-bottom: 3px solid rgb(10, 8, 8);
      border-color: rgb(147, 245, 50);
      width: 95%;
    
    }