<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      กล้องวงจรปิด
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img *ngIf="img_cctv" [src]="img_cctv01">
  </ion-card>

  <ion-card padding>
    <B>ระบบโทรทัศน์วงจรปิด ( CCTV System)</B><br>
    เป็นการส่งสัญญาณภาพ จากกล้องโทรทัศน์วงจรปิด ที่ได้ติดตั้งตามที่ต่างๆ มายังส่วนรับภาพ/ดูภาพ ซึ่งเรียกว่า จอภาพ ( Monitor ) โดยทั่วไปจะติดตั้งอยู่คนละที่กับกล้อง เช่นที่ห้องควบคุม เป็นต้น<br>
  
    <B>อุปกรณ์ที่ใช้ในระบบโทรทัศน์วงจรปิด</B><br>
    
    1.กล้องโทรทัศน์วงจรปิด (CCTV Camera)<br>
    2.เลนส์ (CCTV Lenses)<br>
    3.เครื่องเลือก / สลับภาพ (Video Switcher) และเครื่องผสม / รวมภาพ (Multiple Screen Displays)<br>
    4.จอภาพ (Video Monitor)<br>
    5.เครื่องบันทึกภาพ (Video Recorder)<br>
    6.อุปกรณ์เสริม เพื่อเพิ่มประสิทธิภาพในการทำงานของระบบโทรทัศน์วงจรปิด(Related Accessories for more efficiency CCTV System) 
    <br>- กล่องหุ้มกล้อง (Camera Housing) 
    <br>- ฐานกล้องปรับทิศทางได้ (Pan & Tilt units) 
    <br>- อุปกรณอื่นๆ ที่เกี่ยวข้อง<br>
    7.ระบบการควบคุม (Control System)<br>
    8.อุปกรณ์อื่น ๆ ที่นำเข้าใช้เกี่ยวข้องกับระบบโทรทัศน์วงจรปิด
  </ion-card>

  <ion-card>
    <img *ngIf="img_cctv" [src]="img_cctv1">
  </ion-card>

  <ion-card>
    <img *ngIf="img_cctv" [src]="img_cctv2">
  </ion-card>

  <ion-card padding>
    <B>ประโยชน์ การใช้งาน ระบบโทรทัศน์วงจรปิด</B><br>
  
  ในด้านการรักษาความปลอดภัย ของบุคคลและสถานที่ ในการตรวจสอบการทำงาน ของเครื่องจักร ในโรงงานอุตสาหะกรรมขนาดใหญ่ ที่ทำงานด้วยระบบอัตโนมัติ หรือการทำงานของพนักงาน ใช้งานร่วมกับระบบควบคุมอาคารอัตโนมัติ เช่น ตรวจสอบจำนวนคนเพื่อการเปิด-ปิด เครื่องปรับอากาศ ฯ ใช้งานร่วมกับระบบควบคุมการจราจร เช่น ตรวจสอบปริมาณรถยนต์ ฯ<br>
  
  <B>โทรทัศน์วงจรปิด ส่วนมากที่ใช้งานในปัจจุบันนี้มี 2 ลักษณะ คือ</B><br>
  
  1.ติดตั้งตายตัว (Fixed Camera)<br>
  2.สามารถหมุนปรับทิศทางได้ (Moving Camera)<br>

  <B>ติดตั้งตายตัว หรือ กล้องติดอยู่กับที่ (Fixed Camera)</B><br>
  
  หมายถึงตัวกล้องจะติดตั้งอยู่บนขากล้องหรืออื่นๆ ซึ่งไม่สามารถจะขยับ หรือหมุนเปลี่ยนทิศทางในการดูได้ ถ้าต้องการหมุนหรือเปลี่ยนทิศทาง ก็จะต้องถอดตัวกล้องแยกออกจากขากล้อง จึงจะเปลี่ยนตำแหน่งได้. สามารถหมุนปรับทิศทางได้ (Moving Camera)<br>
  
  เพื่อเป็นการเพิ่มประสิทธิภาพในการใช้งาน ระบบโทรทัศน์วงจรปิด จึงได้มีการเพิ่มอุปกรณ์ประกอบเข้าไป คือ ฐานกล้องหมุนปรับทิศได้ สามารถที่จะปรับให้หมุนซ้าย / ขวา ก้ม-เงย 
  <br>ได้ ( Pan and Tilt unit ) และอาจจะมีอุปกรณ์อื่น เพิ่มอีก เช่น เลนส์ปรับขนาดภาพได้ (Zoom Lens) และ เครื่องหุ้มกล้อง (Camera Housing) เป็นต้น

  <ion-item (click)="contact()">
    <img *ngIf="img_conn" [src]="img_conn" width="350" height="70">
  </ion-item>
  </ion-card>
</ion-content>
