<ion-header>
  <ion-navbar color="secondary">
    <ion-title>ช่องทางชำระบริการ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="card-background-page">
  <ion-card>
    <img *ngIf="img_service" [src]="img_paytmn1">
  </ion-card>

  <ion-card>
    <img *ngIf="img_service" [src]="img_pay1">
  </ion-card>

  <ion-card>
    <img *ngIf="img_service" [src]="img_pay2">
  </ion-card>

  <ion-card>
    <img *ngIf="img_service" [src]="img_pay3">
  </ion-card>

  <ion-card>
    <img *ngIf="img_service" [src]="img_pay4">
  </ion-card>
 <ion-card>
    <img *ngIf="img_service" [src]="img_pay">
  </ion-card>
  <ion-card>
    <img *ngIf="img_service" [src]="img_QrPay">
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>

          <B>หมายเหตุ : กรุณาส่งหลักฐานการชำระเงิน <BR> พร้อมชื่อ-ที่อยู่ เบอร์โทรติดต่อมาที่ <BR>
              LINE : @tmn.pattaya <BR>
              Email : tmncable@hotmail.com <BR>
          </B>

      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
