<ion-header>
  <ion-navbar color="secondary">
    <ion-title>ช่องทางชำระบริการ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="card-background-page">
  <ion-card>
    <img *ngIf="img_service" [src]="img_paytmn1">
  </ion-card>

  <ion-card>
    <img *ngIf="img_service" [src]="img_pay1">
  </ion-card>

  <ion-card>
    <img *ngIf="img_service" [src]="img_pay2">
  </ion-card>

  <ion-card>
    <img *ngIf="img_service" [src]="img_pay3">
  </ion-card>

  <ion-card>
    <img *ngIf="img_service" [src]="img_pay4">
  </ion-card>
  <ion-card>
    <img *ngIf="img_service" [src]="img_pay">
  </ion-card>

</ion-content>
